package templates

import "github.com/anthonyposchen/htmx-learning.git/templates/partials"

templ Index() {
	<html>
		@partials.Head() {
			<title>AUOSRS Home</title>
		}
		<body>
			<div class="mytext container">
				Hello World from templ
			</div>
		</body>
	</html>
}
