package templates

import "github.com/AnthonyPoschen/htmx-learning.git/templates/partials"

templ Index() {
	<html>
		@partials.Head() {
			<title>Index Page</title>
		}
		<body>
			<div>
				Hello World from templ
			</div>
		</body>
	</html>
}
